@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand&display=swap');
*
{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Quicksand', sans-serif;
}

	table {
		margin-top: 20px;
		width: 100%;
		text-align: center;
	}

	table th {
		background-color: #d55c32;
		height: 45px;
	}

	table td {
		background-color: #ffd4aa;
		height: 30px;
	}

	#top {
		height: auto;
		width: 100%;
		text-align: center;
	}

	#header {
		height: 30px;
		width: 100%;
		background-color: #b20000d4;
		text-align: right;
		right: 5px;
		color: white;
		line-height: 28px;
		letter-spacing: -1px;
	}

	#header a {
		text-decoration: none;
		color: white;
	}

	img {
		height: 80px;
		width: auto;
	}

	.heading {
		height: auto;
		width: 100%;
		font-size: 30px;
		text-align: center;
		padding-top: 40px;
		padding-bottom: 20px;
	}

	.btn-them {
		padding: 10px 12px;
		background-color: #28a745;
		color: white;
		border: 1px solid #28a745;
		border-radius: 5px;
		text-decoration: none;
		cursor: pointer;
	}

	.btn-them:hover {
		background-color: #228d3a;
	}

	i {
		color: black;
		font-size: 18px;
	}

	i:hover {
		opacity: 0.7;
	}

	a {
		text-decoration: none;
	}

	i:hover {
		opacity: 0.7;
	}

	table td:hover {
		background-color: #ffd4aacc;
	}

	.modal {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.7);
		display: none;
		align-items: center;
		justify-content: center;
	}

	.modal .modal-container {
		background-color: white;
		width: 54vw;
		position: relative;
		max-width: calc(100% - 32px);
		animation: kfmodal ease 0.5s;
	}

	.modal-header {
		background-color: #007696;
		height: 130px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 30px;
		color: white;
	}

	.body i {
		margin-right: 12px;
		font-size: 14px;
	}

	.modal-header i {
		color: white;
		font-weight: bold;
		margin-right: 16px;
		font-size: 24px;
	}

	.ti-close {
		position: absolute;
		right: 0;
		top: 0;
		color: white;
		padding: 12px;
		cursor: pointer;
		background-color: red;
		opacity: 0.8;
	}

	.ti-close:hover {
		opacity: 0.85;
	}

	.modal .body {
		padding: 16px 16px 16px 16px;
		padding-right: 38px;
	}

	.modal-label {
		display: block;
		font-size: 16px;
	}

	.modal-input {
		border: 1px solid #ccc;
		width: 100%;
		padding: 10px;
		font-size: 15px;
		margin-bottom: 24px;
		margin-top: 10px;
	}

	.modal-btn {
		background-color: #007696;
		border: none;
		color: white;
		width: 102.9%;
		font-size: 15px;
		text-transform: uppercase;
		padding: 18px;
		cursor: pointer;
	}

	.modal-btn:hover {
		opacity: 0.9;
	}

	button i {
		color: white;
		margin-left: 12px;
	}

	footer {
		text-align: right;
	}

	.open {
		display: flex;
	}

	@keyframes kfmodal {
		from {
			opacity: 0;
			transform: translateY(-150px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}